[run]
source=script.module.codequick/lib/codequick
branch=False

[report]
exclude_lines =
    if __name__ == .__main__.:
    except ImportError:
    __str__
    __repr__
    __len__
    __iter__
    __contains__